*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body
{
    background:url("/images/fondo5.jpg");
    background-size: 100% 100%;
}
/*header*/
header{
    color:azure;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
/*banner*/
.logo{
    position: relative;
    background:#101012;
    height: 55px;
    width: 100%;
    margin-bottom: 175px;
}
.titulo h1{
    font-weight:bold;
    font-size: 45px;   
    font-family: sans-serif;
    
}
.logo .logoc{
    position: absolute;
    background: #101012;
    width: 100%;
    height: 180px;
    margin-top: 50px;
    left: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}
.logo .logoc .logor{
    position: absolute;
    left:0;
    padding: 0;
    height: 45px;
    width: 100%;
    background: #2f0303;
    margin-top: 70px;
}

.logo .logoc .logor .logol{
    position: absolute;
    height: 178px;
    width: 100%;
    margin-top:-67px;
    border-width: 15px;
    border-color: #2f0303;
    left: 0;
    border-style:solid;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.logo .logoc .logor .logol img{
    height: 100%;
}
/*Menu*/
header nav{
    background: #2f0303;
    z-index: 1000;
    max-width: 1000px;
    width: 95%;
    margin: 20px auto;
}
.menu-resp{
    display: none; 
}
.menu-p ul{
    list-style: none;
}
.menu-p ul li{
    display: inline-block;
    position: relative;
}
.menu-p ul li a{
    color: aliceblue;
    display: block;
    text-decoration: none;
    display: inline-block;
    padding: 10.4px;
    
}
.menu-p ul li a span{
    margin-right: 10px;

}
.menu-p ul li:hover{
    background:#1b1b1c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
.menu-p ul li .children{
    display: none;
    background:#2f0303;
    position: absolute;
    width: 150%;
    z-index: 1000;
}
.menu-p ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.7);
}
.menu-p ul li .children li a{
    display: block;
}
.menu-p ul li .caret{
    position: relative;
    top:3px;
    margin-left:10px;
    margin-right: 0px;
}
/*section*/
section{
    margin-top: 270px;
    text-align: justify;
}
section h1{
    text-align:center;
}
section b{
    padding: 10px;
    font-size: 25px;
    border: 5px solid rgba(0,0,0,0.8)
}
section img{
    display:block;
    max-width: 100%;
}
/*Galeria*/
.galeria{
    z-index: 1000;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.galeria-item{
    width:100%;
    margin: 5px;
    cursor:pointer;
    list-style: none;
    overflow: hidden;
}
.galeria-img{
    transition: all .2s;
}
.galeria-img:hover{
    transform: scale(1.2);
}
/* Slider */
.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 90%;
  padding: 0;
  margin: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: 350px;
  width: 100%;
  border: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;    
  }
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #0b0bb1;
  background: rgba( 20, 20, 102, 0.62 );
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  }

.callbacks_nav {
    display: none;
  }
/*Contenido*/
section .texto {
    font-size: 20px;
    margin-left: 25px;
    padding: 20px;
    background: rgba( 80, 11, 11, 0.311 );
    margin-bottom: 15px;
    border-radius: 25px;
}
section .texto p{
    padding: 15px;
}
.cuerpo{
    display: flex;
    flex-wrap: wrap;
}
.sidebar .frase span{
    text-align: right;
}
.contenedor-img {
width: 300px;
height: 200px;
float: left;
overflow: hidden;
position: relative;
text-align: center;
cursor: default;
background: #fff;
    display: block;
    margin-bottom: 25px;
}
.espacio{
    margin: 5px;
}
.contenedor-img .mascara,.contenedor-img .contenido {
width: 300px;
height: 250px;
position: absolute;
overflow: hidden;
top: 0;
left: 0;
text-align: justify;
display: block;
}
.contenedor-img img {
display: block;
position: relative;
    width: 100%;

}
.contenedor-img h2 {
text-transform: uppercase;
color: #fff;
text-align: center;
position: relative;
font-size: 15px;
padding: 10px;
background: rgba(0, 0, 0, 0.9);
margin: 20px 0 0 0
}
.contenedor-img p {
font-size: 13.5px;
position: relative;
color: #fff;
padding: 10px 20px 10px;
text-align: justify;
}
.contenedor-img a.link {
display: inline-block;
text-decoration: none;
padding: 7px 14px;
background: #222;
color: #fff;
text-transform: uppercase;
box-shadow: 0 0 1px #000
}
.contenedor-img a.link:hover {
box-shadow: 0 0 5px #000
}
.ejemplo-1 img {
transition: all 0.2s linear;
}
.ejemplo-1 .mascara {
opacity: 0;
background-color: rgba( 92, 14, 14, 0.259 );
transition: all 0.3s ease-in-out;
}
.ejemplo-1 h2 {
transform: translateX(-200px);/*Desplazamos a la izquierda*/
opacity: 0;
transition: all 0.7s ease-in-out;
}
.ejemplo-1 p {
transform: translateX(200px);/*Desplazamos a la derecha*/
opacity: 0;
transition: all 0.4s linear;
}
.ejemplo-1 a.link{
opacity: 0;
transition: all 0.4s ease-in-out;
transform: translateY(100px)/*Desplazamos para abajo*/
}
.ejemplo-1:hover img {
transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}
.ejemplo-1:hover .mascara {
opacity: 1;
}
.ejemplo-1:hover h2,
.ejemplo-1:hover p,
.ejemplo-1:hover a.link {
opacity: 1;
transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.ejemplo-1:hover p {
transition-delay: 0.1s;
}
/*formulario*/
.tit-form{
	margin-top: 25px;
    background: #290909;
    color:#fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid black;
    border-width: 7px;
    font-weight: 100;
    font-size: 30px;
}
.tit-form2{
    margin-top: 25px;
    background: #290909;
    color:#fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid black;
    border-width: 7px;
    font-weight: 100;
    font-size: 30px;
}
.form-reg{
    width:95%;
    max-width: 500px;
    margin:auto;
    
    background: #e0d6d7;
    border-radius: 7px;
}
.cont-form{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:25px;
}
input{
    margin-bottom: 15px;
    padding:15px;
    font-size: 16px;
    border-radius: 3px;
    border:1px solid darkgray;
}
.input-48{
    width: 48%;
}
.input-100{
    width:100%;
}
.input-200{
    width:100%;
    height: 48%;
}
.bt-enviar{
    background: #290909;
    color: aliceblue;
    font-size: 16px;
    margin:auto;
    padding: 10px 40px;
    cursor: pointer;
}
.bt-enviar:active{
    transform: scale(1.05);
}
/*Footer*/
.fin-pag{
    display: block;
    width: 100%;

	background: #1e1a1a;
}
.fin-pag nav{
    display: block;
    margin-left:25px;
    margin-top:50px;
    left: 25px;
}
.fin-pag nav ul li{
    display:block;
    list-style: none;
    padding: 9px;
    margin-top: 2px;
}
.fin-pag nav ul li a{
    text-decoration: none;
    color:azure;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.fin-pag nav ul li a:hover{
    border-bottom: 2px solid #c5c5d2;
    
}
.texto2{
    padding: 15px;
    margin: 25px;
    background: #511919;
    color:azure;
    border-radius: 25px;
    width: 100%;
}
.texto2 h1{
    text-align: center;
}
.texto2 p{
    margin-top: 25px;
    font-size: 1rem;
}
/*Comunicado*/
.comunicado{
	width:100%;
	display:block;
	background:rgba( 80, 11, 11, 0.311 );
	color:azure;
	margin:25px;
	paddin:10px;
}
.comunicado h1{
	text-align:center;
}
@media screen and (max-width:1200px){
    body{
        padding-top:20px;
    }
    .menu-resp{

        display: block;
        width: 70%;
        position: fixed;
        left:-5px;
        background:#000000;
    }
    .menu-resp{
        margin-left: 100px;
    }
    .menu-resp .bt-menu{
        display:block;
        padding: 5px;
        color:aliceblue;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;

    }
    .menu-resp span{
        float: right;
        font-size: 40px;
    }
    .menu-p {
        margin-top: 50px;
        width: 50%;
        height: 330px;
        position: fixed;
        right:100%;
        background: #2f0303;
        overflow-y: scroll;
    }
    .menu-p{
        margin-top:50px; 
        margin-left: 100px;
    }
    .menu-p ul li{
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.5)
    }
    .menu-p ul li a{
        display: block;
    }
    .menu-p ul li:hover .children{
        display: none;
    }
    .menu-p ul li .children{
        width: 100%;
        position: relative;
    }
    
    .menu-p ul li .children li a{
        margin-left: 20px;
    }
    .menu-p ul li .caret{
        float:right;
    }
    .callbacks img {
        height: 250px;
    }
    section{
        margin-top: 260px;

    }

}
@media screen and (max-width:450px){
    .titulo h1{
        font-size: 30px;
        padding: 10px;
    }
    header nav ul li .caret{ 
        display: none;
    }
    .menu-resp{
        width:60%;
        left:
    }
    .callbacks{
        display: none;
    }
    .texto2 p{
        font-size: 0.7em;
    }
}

@media (min-width:470px){
    .galeria-item{
        width: 48%;
        margin:5px;
    }
    
}
@media (min-width:768px){
    .galeria-item{
        width: 48%;
    }
    .menu-resp{
        width:80%;
    }
}
@media (min-width:1024px){
    .galeria-item{
        width: 20%;
        margin: 15px;
    }
    .menu-resp{
        width:80%;
    }
    
}
.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-img{
    width:80%;
    max-width: 700px;
}

.modal-boton{
    width: 25px;
    height: 50px;
    color:aliceblue;
    font-weight: bold;
    font-size: 25px;
    font-family: monospace;
    line-height: 50px;
    text-align: center;
    background: #350303;
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.modal-boton:hover{
    opacity: 1;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}
.boton-con{
    padding: 16px;
    margin: 15px;
    height: 50px;
    background: #160202;
    color:aliceblue;
    font-size: 20px;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}
.boton-con:hover{
    background: #000000;
    cursor: pointer;
    opacity: 0.8;
}
.slidesjs-pagination {
    display: none;
}
