*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #ebedf3;
}


/* header*/
.tit-pagina h1{
    text-align: center;
    font-size: 50px;
    width: 100%;
    font-family: Garamond, 'Comic Sans';
}
header{
    color:aliceblue;
    background: url(/images/header.jpg);
    margin:0;
    padding: 0;
    height: 207.5px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    
}
.logo{
    position:relative;
    margin: 0;
    height:152px;
    z-index: 1000;
    background-image: url(/images/logo.gif);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 18% 148px;
    border-width: 7px;
    border-color: #2f0303;
    border-style:solid;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.logoc{
    padding-left:25px;
    font-size: px;
    position: absolute;
    background: #2f0303;
    z-index: 1000;
    width: 100%;
    margin-top: 58px;
    height: 45px;
    
}
/* Slider */
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: 350px;
  width: 100%;
  border: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;    
  }
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #0b0bb1;
  background: rgba( 20, 20, 102, 0.62 );
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  }

.callbacks_nav {
    display: none;
  }
/* Menu*/
.menu-bar{
display: none;
}
.menu-p{
    background:#2f0303;
    z-index: 1000;
    max-width: 1000px;
    margin:auto;
    border-bottom-color: black;
    border-width: 15px;
}
.menu-p ul{
    list-style: none;
}
.menu-p ul li{
    display: inline-block;
    position: relative;
}
.menu-p ul li a{

    color:aliceblue;
    display: block;
    text-decoration: none;
    border-left-color: 1px solid rgba(255,255,255,.5);;
    padding:10px;

}
.menu-p ul li a span{
    margin-right: 10px;
}
.menu-p ul li:hover{
    background:#000000;
    
}
.menu-p ul li:hover .children{
    display: block;
}
.menu-p ul li .children{
    display: none;
    background:#2f0303;
    position: absolute;
    width:150%;
    z-index: 1000;
}
.menu-p ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5)
}
.menu-p ul li .caret{
    position: relative;
    top:3px;
    margin-left: 10px;
    margin-right: 0px;
}
.space {
  height: 30px;
}

/*texto*/

.texto p{
    text-align: justify;
}
.texto {
    background: #cbd8e6;
    height: 300px;
    padding: 30px 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/*sidebar*/
.sidebar{
    margin: 0;
    padding: 0;
}
.com-esp{
    height: 125px;
    background: #cbd8e6;
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px 10px;
    margin-bottom: 5px;
}
.com-esp .marc{
    font-size: 24px;
    color:#000000;
    margin-left: 160px;
    margin-top: -50px;
    
}
footer{
	height:50px;
	background:black;
	border-top:1px solid #DEDEDE;
	font-family:Arial,Helvetica,sans-serif;
}
footer p {
	margin:0 11px;
	padding-top:20px;
	line-height:normal;
	font-size:9px;
	text-align:center;
	color:white
}
.fright {float:right}
.fleft {float:left}

/*formulario*/
.tit-form{
    background: #290909;
    color:#fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid black;
    border-width: 7px;
    font-weight: 100;
    font-size: 30px;
}
.tit-form2{
    margin-top: 25px;
    background: #290909;
    color:#fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid black;
    border-width: 7px;
    font-weight: 100;
    font-size: 30px;
}
.form-reg{
    width:95%;
    max-width: 500px;
    margin:auto;
    background: #e0d6d7;
    border-radius: 7px;
}
.cont-form{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    margin-bottom: 15px;
    padding:15px;
    font-size: 16px;
    border-radius: 3px;
    border:1px solid darkgray;
}
.input-48{
    width: 48%;
}
.input-100{
    width:100%;
}
.input-200{
    width:100%;
    height: 48%;
}
.bt-enviar{
    background: #290909;
    color: aliceblue;
    font-size: 16px;
    margin:auto;
    padding: 10px 40px;
    cursor: pointer;
}
.bt-enviar:active{
    transform: scale(1.05);
}
/* Responsive Design */
@media screen and (max-width:800px){
     header{
        height:auto;
        background-color:#075782;
        border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    }
    .menu-bar{
        display: block;
    }
    header .tit-pagina h1{
        text-align:left;
        font-size: 45px;
    }
    header .tit-pagina h1 span{
        padding-right:100px;
    }
    .logo{
        display: none;
    }
    .logoc{
        display: none;border-radius: 
    }
   .rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  height: 200px;
  border: 0;
  }
}

#bloque1{
  background: #555;
}
