@font-face {
    font-family: 'fuentes';
    src:
        url('fonts/fuentes.ttf?m6sbd1') format('truetype'),
        url('fonts/fuentes.woff?m6sbd1') format('woff'),
        url('fonts/fuentes.svg?m6sbd1#fuentes') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fuentes' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\e002";
}
.icon-ribbon:before {
    content: "\e009";
}
.icon-camera:before {
    content: "\e017";
}
.icon-heart:before {
    content: "\e024";
}
.icon-align-justify:before {
    content: "\e026";
}
.icon-book2:before {
    content: "\e030";
}
.icon-layers:before {
    content: "\e031";
}
.icon-location:before {
    content: "\e070";
}
.icon-head:before {
    content: "\e074";
}
.icon-speech-bubble:before {
    content: "\e076";
}
.icon-star:before {
    content: "\e093";
}
.icon-arrow-left:before {
    content: "\e094";
}
.icon-arrow-right:before {
    content: "\e095";
}
.icon-flag:before {
    content: "\e108";
}
.icon-ellipsis:before {
    content: "\e129";
}
.icon-list2:before {
    content: "\e90c";
}
.icon-reload:before {
    content: "\e90f";
}
.icon-book:before {
    content: "\e90d";
}
.icon-home2:before {
    content: "\e90e";
}
.icon-users:before {
    content: "\e907";
}
.icon-user2:before {
    content: "\e905";
}
.icon-users2:before {
    content: "\e906";
}
.icon-user22:before {
    content: "\e908";
}
.icon-creditcards:before {
    content: "\e909";
}
.icon-pencil:before {
    content: "\e90a";
}
.icon-chevron-down:before {
    content: "\e91e";
}
.icon-chevron-left:before {
    content: "\e91f";
}
.icon-chevron-right:before {
    content: "\e920";
}
.icon-chevron-small-down:before {
    content: "\e921";
}
.icon-chevron-small-left:before {
    content: "\e922";
}
.icon-chevron-small-right:before {
    content: "\e923";
}
.icon-chevron-small-up:before {
    content: "\e924";
}
.icon-chevron-thin-down:before {
    content: "\e925";
}
.icon-chevron-thin-left:before {
    content: "\e926";
}
.icon-chevron-thin-right:before {
    content: "\e927";
}
.icon-chevron-thin-up:before {
    content: "\e928";
}
.icon-chevron-up:before {
    content: "\e929";
}
.icon-open-book:before {
    content: "\e90b";
}
.icon-save:before {
    content: "\e902";
}
.icon-air:before {
    content: "\e904";
}
.icon-check:before {
    content: "\e910";
}
.icon-compass:before {
    content: "\e911";
}
.icon-list:before {
    content: "\e903";
}
.icon-news:before {
    content: "\e912";
}
.icon-phone:before {
    content: "\e913";
}
.icon-pin:before {
    content: "\e914";
}
.icon-price-ribbon:before {
    content: "\e915";
}
.icon-price-tag:before {
    content: "\e916";
}
.icon-squared-minus:before {
    content: "\e917";
}
.icon-squared-plus:before {
    content: "\e918";
}
.icon-star-outlined:before {
    content: "\e919";
}
.icon-thumbs-up:before {
    content: "\e91a";
}
.icon-unread:before {
    content: "\e91b";
}
.icon-v-card:before {
    content: "\e91c";
}
.icon-user:before {
    content: "\e900";
}
.icon-image:before {
    content: "\e91d";
}
.icon-home:before {
    content: "\e901";
}

